<p>Welcome Page
</p>

<h3>Some snowboards you might like: </h3>

<div class="row">
<% @products.each do |product| %>
  <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= product.title %></h5>
      <p class="card-text"><%= number_to_currency product.price %></p>
      <a href="/products/<%= product.id %>" class="btn btn-primary">View Product</a>
    </div>
  </div>
  </div>
  <% end %>

<br>
  <h2>Newest 5 Listings</h2>

  <% @last_products.each do |product| %>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= product.title %></h5>
        <p class="card-text"><%= number_to_currency product.price %></p>
        <a href="/products/<%= product.id %>" class="btn btn-primary">View Product</a>
      </div>
    </div>
  </div>
  <% end %>
<br>
  <%= link_to 'View More Snowboards', products_path, class: "btn btn-primary" %>