<div class="jumbotron">
  <h1 class="display-4">Snowboard Marketplace</h1>

  <hr class="my-4">
  <p>Buy a new snowboard from a seller today!</p>
  <p class="lead">
    <%= link_to 'View Snowboards', products_path, class: "btn btn-primary" %>
  </p>
</div>



<h3>Some snowboards you might like: </h3>

<div class="row">
<% @products.each do |product| %>
  <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
    <div class="show-image-wrap" width="200px" height="auto">       
                <%= image_tag product.image, style: 'width:200px; height:auto' %>
                   
  </div>
      <h5 class="card-title"><%= product.title %></h5>
      <p class="card-text"><%= number_to_currency product.price %></p>
      <a href="/products/<%= product.id %>" class="btn btn-primary">View Product</a>
    </div>
  </div>
  </div>
  <% end %>

<br>
  <h2>Newest 5 Listings</h2>

  <% @last_products.each do |product| %>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
      <div class="show-image-wrap" width="200px" height="auto">       
                <%= image_tag product.image, style: 'width:200px; height:auto' %>
                   
  </div>
        <h5 class="card-title"><%= product.title %></h5>
        <p class="card-text"><%= number_to_currency product.price %></p>
        <a href="/products/<%= product.id %>" class="btn btn-primary">View Product</a>
      </div>
    </div>
  </div>
  <% end %>
<br>
  <%= link_to 'View More Snowboards', products_path, class: "btn btn-primary" %>